


@media (width < 900px){

    .home{
        padding-top: 10vh;
        height: 50vh;
        width: 100%;
        /* align-items: flex-start; */
        background: url(./smalscrn\ bckgrnd\ .png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .home-content{
        /* background-color: orange; */
        max-width: 430px;
        /* width: 70%; */
    
    }
    .home-content h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 0.9;
    }

    .home-content h3{
        font-size: 25px;
        font-weight: 600;
        color: #00abf0;
        /* color: orange; */
    }
    .home-content p{
        position: relative;
        font-size: 12px;
        margin: 15px 0 20px;
    }

    .home-content .btn-box{
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        width: 305px;
        height: 40px;
    }

    .btn-box a{
        /* width: 100px; */
        /* height: 100%; */
        font-size: 12px;
    }

    


    /* skills */
    #Skills{
        height: auto;
        width: 100%;
    }

    .box{
        text-size-adjust: none;
        width:90px;
        height:90px;
       
    }

    .box img{
        width: 50px;
        height: 50px;
    }

    /* projects */
    #Projects{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
      
    }
    
    .project_heading2{
        font-size: 18px;
        letter-spacing: 2px;            
       
    }
    
    .project-images{
        display: flex;
        text-align: center;
        justify-content: center;
        height: auto;
       
    }
    
    img{ 
        width: 270px;
        height: 220px;
    } 

    .child{
        width: 250px;
        height: 200px;
    } 
   

    /* about */
    #About{
        display: grid;
        height:auto;
        width: 100vw;
      
    }

    .me{
        width: 90%;
        justify-content: center;
    }

    .me p{
        font-size: 12px;
        word-spacing: 3px;
        letter-spacing: 1px;
    }
    .pic{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-right: 10px;
        margin-top: 20px;
    }


    /* contact */
    #Contact{
        width: 100%;
        height: auto;
    }
   
    .house-container{
        font-size: 13px;
        width: 100%;
        display: block;
        padding-left: 15px;
    }

    .house{
        display: block;
        justify-content: space-evenly;
        width:90%;
        height:auto;
        transform: scale(.9);
        transition: all 1s;  
    }

    .ile{
        display: grid;
        justify-content: space-around;
        align-items: center;
        margin-right: 40px;
        width: 100%;
    }

    .lets_talk{
        display: grid;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 60vh;
        border-radius: 5px;
       
    }
    .message_me{
        font-size: 18px;
        letter-spacing: 2px;
    }
    form input{
        width: 280px;
        height: 40px;
        border-radius: 3px;
        border: none;
        font-size: 12px;
    }
    textarea{
        width: 280px;
        height: 26vh;
        border-radius: 5px;
        font-size: 12px;
    }

    .submit{
        display: flex;
        align-items: center;
        width: 280px;
        height: 40px;
        font-size: 12px;
    }


    /* footer  */
    footer{
        display:grid;
        width: 100%;
        height: 25vh;
        font-size: 14px;
    }


    .top{
        width: 65px;
        height: 25px;
        color: white;
        border-radius: 8px;
        margin-left: 15px;
    }
    
    
    .top a{
        font-size: 8px; 
    }
    
}

