*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;    
}

html{
    scroll-behavior: smooth;
 }


/* THE NAVBAR STYLING STARTS HERE  */
nav{
    width: 100vw;
}

 .navbar{
    color: white;
    /* background: orange; */
    background: linear-gradient(to right,orange 1%, #081b29 50%, #343434 100%); 
    font-size: 17px;
}

.nav-item a{
    color:white !important;
}

.nav-item a:hover{
    color: #00abf0 !important;
}

/* THE NAVBAR STYLING ENDS HERE  */
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: white;
    background: url(./my\ backgrnd.png) no-repeat;
    background-size: cover;
    background-position: center;

}
.home-content{
    /* background-color: orange; */
    max-width: 630px;

}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    /* color: orange; */
}
.home-content p{
    position: relative;
    font-size: 14px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    animation: homeStuff 1s ease forward;
    animation-delay: 1.5s;
}

.home-content .btn-box{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    /* background: #00abf0; */
    background: orange;
    border: 2px solid orange;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    /* background: #00abf0; */
    background: orange;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
    overflow: hidden;
}

.btn-box a:hover::before{
    width: 100%;

}

.home-sci{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* bottom: 40px; */
    width: 170px;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background: orange; */
    background: transparent;
    border: 2px solid orange;
    border-radius: 50%;
    font-size: 20px;
    /* color: #081b29; */
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #081b29;
}
.home-sci a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: orange;
    z-index: -1;
    transition: .5s;

}
.home-sci a:hover::before{
    width: 100%;
}

    
/* STYLING FOR HOME BEGINS HERE  */

/* STYLING FOR SKILLS BEGINS HERE  */
#Skills{
    background: linear-gradient(to right,orange 1%, #081b29 50%, #343434 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 55vh;
}

.skill_heading {
    color: orange;
    /* font-family: 'Splash', cursive; */
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 3px;
   
}

.boxes{
    place-items: center; 
    font-style: italic;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   
}

.box{
    text-size-adjust: none;
    width:150px;
    height:150px;
    box-shadow:  black 10px 10px 10px ;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 15px;
    transform: scale(0.8);
    transition: all 1s;
}

.box:hover{
    transform: scale(0.9);
    box-shadow: #6495ed 10px 10px 10px;
    background-color: antiquewhite;
   
   
}

.box img{
    width: 80px;
    height: 80px;
}


/* STYLING FOR PROJECTS BEGINS HERE  */
#Projects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    width: 100vw;
    height: 150vh;
    color: white;
    text-align: center;
    /* background-color: #343434;  jet black;   */
    background-color: #081b29; 
    background: linear-gradient(to left,orange 1%, #081b29 50%, #343434 100%); 
}
#Projects .project_heading {
    padding-top: 40px;
    color: orange;
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 3px;
   
}
.project_heading2{
    color: orange;
    font-size: 25px;
    letter-spacing: 2px;
}

.project-images{
    /* padding-top: 40px; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

img{ 
    width: 350px;
    height: 200px;
} 

.parent{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    transition: all 1s;
}
.parent:hover{
    transform: scale(1);
}

.parent:hover .child{
    visibility: visible;
    opacity: 0.9;
    color: white;
    transform: scale(0.9); 
}

.child{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 350px;
    height: 200px;
    background-color: grey;
    opacity: 0;
    color: white;
    margin: 20px;
}

.child a{
    text-decoration: none;
    color: white;
}


/* ABOUT SECTION BEGINS HERE */
#About{
    padding-top: 11vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    color: white;
    background: linear-gradient(to left,orange 1%, #081b29 50%, #343434 100%); 
    text-align: center;
    place-items: center;
    align-items: center;
    justify-content: space-evenly;   
}
.me .about_heading {
    color: orange;
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 3px;
   
}

.me{
    width: 75%;
    height: auto;
}
.me p{
    font-size: 15px;
}

.pic{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    margin-right: 50px;
    margin-top: 15px;
}


/* CONTACT SECTION BEGINS HERE */
#Contact{
    background: linear-gradient(to right,orange 1%, #081b29 50%, #343434 100%); 
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 160vh;
}
.contact_heading{
    padding-top: 40px;
    color: orange;
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 3px;   
}

.house-container{
    display: flex;
    color: black;
    font-style: italic;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;  

}

.house a{
    text-decoration: none;
    color: blue;
}

.house a:hover{
    color: orange

}

.house{
    width:80%;
    height:160px;
    padding-top: 8px;
    background-color: antiquewhite;
    box-shadow:  black 10px 10px 10px ;
    transform: scale(.6);
    transition: all 0.5s;  
}

.house:hover{
    transform: scale(.8);
    box-shadow: #6495ed 10px 10px 10px;
    background-color: white;

}

.ile{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.message_me{
    color: orange;
    font-size: 25px;
    letter-spacing: 2px;
}
.lets_talk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 100%;
    border-radius: 6px;
}

form input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 600px;
    height: 50px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    padding-left: 15px;
    
}

textarea{
    width: 600px;
    height: 50vh;
    border-radius: 6px;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 15px;
}

.submit{
    display: flex;
    align-items: center;
    width: 600px;
    height: 50px;
    justify-content: center;
    background-color: orange;
    color: white;
    font-size: 16px;
}
.submit:hover{
    background-color: #00abf0;
}
    
.top{
    width: 120px;
    height: 40px;
    color: white;
    background: linear-gradient(to left,orange 1%, #081b29 50%, #343434 100%); 
    border-radius: 20px;
    margin-left: 20px;
    border-style: none;
    font-size: 14px;
}

.top a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
   
}


/* STYLING FOR FOOTER BEGINS HERE  */
footer{
    display:flex;
    flex-direction: row;
    background-color: black;   
    width: 100%;
    height: 60px;
    color: white;  
    justify-content: space-around;
    place-items: center;
    font-size: 16px;
    background: linear-gradient(to left,orange 1%, #081b29 50%, #343434 100%); 
}


footer a{
    color: white;
    text-decoration: none;  
}

.tag{
   text-shadow:3px 3px 3px antiquewhite;
   animation:bayo 2s ease 1s infinite;
}

@keyframes bayo{

   0%{
      transform:rotateX(-45deg);
  }
   50%{
      transform:rotateY(45deg);
  }
} 


@keyframes homeStuff {
    100%{
        width: 0;
        
    }
    
}



